.nav{
    height: 48px;
    align-items: center;
    border-bottom: 2px solid #3c5b6f7c;
    width: 450px;
}


.logo{
    text-decoration: none;
    font-size: 17px;
    color: #dfd0b8c9;
    margin: -44px 0px 0px 0px;
    margin-left: 20px;
    font-weight: bold;
}

.parrafoNav:hover{
    color: #948979;
}

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.iconNav{
    width: 120px;
    margin: -42px 0px 0px 0px;
}